/*********************************************************************/
/***** BEGIN DESIGN TOOLS THEME IMPORT & CUSTOMIZATION  **************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */
/* For Main CSS file */
@import url(https://designtools.ciditools.com/css/themes.css);
/* For Mobile app CSS file */
/*@import url(https://designtools.ciditools.com/css/app.css);*/
/* Institution color customizations */
@import url(https://designtools.ciditools.com/css/inst_theme_overrides.css);
/* Theme Colors */
:root {
  --dt-color-primary: #293352;
  --dt-color-primary-contrast: #ffffff;
  --dt-color-primary-dark-text: #293352;
  --dt-color-secondary: #E6E6E6;
  --dt-color-secondary-contrast: #000000;
  --dt-color-secondary-dark-text: #474747;
  --dt-color-accent: #008ee2;
  --dt-color-accent-contrast: #000000;
  --dt-color-graybg: #E6E6E6;
  --dt-color-graybg-contrast: #000000;
}
/*********************************************************************/
/***** END DESIGN TOOLS HEME IMPORT & CUSTOMIZATION   ****************/
/*********************************************************************/